---
---

@import "{{ site.theme }}";

.site-footer-credits {
  visibility: hidden;
}

.btn {
    color: rgb(255, 255, 255) !important;
    background-color: rgba(41, 41, 41, 0.57) !important;
}

.btn:hover {
    color: rgb(255 255 255) !important;
    background-color: rgba(65, 65, 65, 0.42) !important;
}